<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="到位，到家，上门服务，家政服务，上门维修，上门按摩，搬家，北京家政服务，上海家政服务">
	<meta name="description" content="到位是中国领先的O2O上门服务平台，汇聚上万种高品质到家服务。家政服务，上门按摩，上门维修，搬家，一站直约，安心到家。现已覆盖北京，上海，深圳，广州，杭州等70多个城市。">
	<title>淘宝服务，李虎双制作，完成于8月</title>
	<link rel="shortcut icon" type="text/css" href="http://www.daoway.cn/pcimages/favicon.png">
	<link rel="shortcut icon" type="text/css" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="css/aboutus.css">
</head>
<body>
	<div class="headerWrap"></div>
	<div class="aboutbanner"></div>
	<div class="abouttxt">
		<h3>淘宝简介</h3>
		<div class="content">
			<p>淘宝网（taobao.com），中国最大的网购零售平台，拥有近5亿的注册用户数，每天有超过6000万的固定访客。随着淘宝网规模的扩大和用户数量的增加，淘宝也从单一的C2C网络集市变成了包括C2C、团购、分销、拍卖等多种电子商务模式在内的综合性零售商圈。</p>
			<p>2011年交易额为6100.8亿元，占中国网购市场80%的份额。比2010年增长66%。2012年11月11日，淘宝单日交易额191亿元。截止2013年，淘宝网和天猫平台的交易额合计突破人民币10,000亿元，成为世界范围的电子商务交易平台之一。</p>
			<p>2016年3月15日，3·15晚会曝光，淘宝存在刷单现象。</p>
			<p>2016年6月2日晚间苏宁云商发布公司非公开发行A股股票发行情况公告：淘宝（中国）软件认购金额为282.33亿元，苏宁云商员工持股计划安信-苏宁2号认购股票金额10亿元。发行后，淘宝软件有限公司持股18.61亿股，占总股本19.99%，为公司第二大股东。</p>
		</div>
		<h3>联系我们</h3>
		<div class="content" style="border-bottom: none">
        <!--<p style="margin: 0">公司地址：北京市东城区和平里东街11号院航星园4号楼</p>
        <p>邮政编码：100013</p><!-->
        <p style="margin: 0">客服电话：4000-908-608 （工作时间：9:00 - 21:00）</p>
        <p>商务合作：010-64522010 （工作时间：周一至周五 9:00 - 18:00 法定假日除外）</p>
    </div>
	</div>
<div class="footerWrap"></div>
<script src="../js/jquery-1.12.0.min.js"></script>
<script>
  $(document).ready(function(){
    $(".footerWrap").load("footer.html")
    $(".headerWrap").load("header.html")
  });
</script>
</body>
</html>